@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap');

body {
    background-color: rgba(40, 40, 43, 1);
    overflow: hidden;
    height: 100%;
    width: 100%;
    

}



h1 {
    font-family: 'Staatliches', cursive;
    font-size: 72px;
    color: rgba(40, 40, 43, 1);
    background-color: rgba(117, 255, 51, 1);
    position: relative;
    padding: 15px 15px;
    margin: 0 auto;
}

